sudo: required

language: generic

service :
  - docker

before_install:
  - echo "start creating an image with dockerfile"
  - docker build -t react:dev -f Dockerfile.dev ./
script:
  - docker run -e CI=true react:dev npm run test -- --coverage

after_success:
  - echo "Test success"

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "react-app"
  env: "Reactapp-env"
  bucket_name: "elasticbeanstalk-us-east-2-781583917643"
  bucket_path: "react-app"

  on:
    branch: master

  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_ACCESS_KEY

